@using RegisterKeeper.Web.External.MvcEnumFlags
@model RegisterKeeper.Web.Models.Competition


@Html.EditorFor(model => model.Name)

@Html.EditorFor(model => model.StartDateTime, "DateTimePicker")

@Html.EditorFor(model => model.EndDateTime, "DateTimePicker")

<div class="control-group">
    @Html.LabelFor(model => model.Distances, new { @class = "control-label" })
    <div class="controls">
        @Html.CheckBoxesForEnumFlagsFor(model => model.Distances, @readonly: Model != null)
    </div>
</div>

@Html.EditorFor(model => model.Location)

@Html.EditorFor(model => model.NumberOfSightingShots, new { @readonly = Model != null })

@Html.EditorFor(model => model.NumberOfScoringShots, new { @readonly = Model != null })