@model RegisterKeeper.Web.Models.RegisterCard

@{
    ViewBag.Title = "Details";
}

<h1>@Model.CompetitorName</h1>

<table>
    <tr>
        <th scope="row">Index No</th>
        <td>@Model.CompetitorIndexNumber</td>
    </tr>
    <tr>
        <th scope="row">Class</th>
        <td>@Model.CompetitorClass</td>
    </tr>
    <tr>
        <th scope="row">Club</th>
        <td>@Model.CompetitorClub</td>
    </tr>
</table>

<ul data-role="listview" data-inset="true" data-ajax="false">
    @foreach (var distance in Model.IndividualCompetition.Distances.ToList())
    {
        var shoot = Model.Shoots.Single(s => s.Distance == distance);
        var firstSighterShotId = shoot.Sighters.Single(s => s.ShotNumber == 1).Id;

        <li>@Html.ActionLink(distance.DisplayValue(), "Scorer", "Shots", new { shotId = firstSighterShotId }, null)</li>
    }
</ul>
