@*@model RegisterKeeper.Web.Models.RegisterCard

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>RegisterCard</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompetitorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompetitorName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompetitorIndexNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompetitorIndexNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompetitorClass)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompetitorClass)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CompetitorClub)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CompetitorClub)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SortOrder)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SortOrder)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
