@model RegisterKeeper.Web.Models.TeamCompetition

@{
    ViewBag.Title = Model.Name;
    ViewBag.DistanceList = Model.Distances.ToList();
    ViewBag.NumberOfSightingShots = Model.NumberOfSightingShots;
    ViewBag.NumberOfScoringShots = Model.NumberOfScoringShots;
}

<div class="clearfix">
    <div class="page-controls">
        @Html.ActionLink("Add Team Register Card", "Create", "TeamRegisterCards", new { teamCompetitionId = Model.Id }, new { @class = "btn" })
    </div>

    <h2>@Html.DisplayFor(model => model.Name)</h2>
    @(Model.StartDateTime.ToString("dddd, d MMMM yyyy, h.mmtt"))<br />
    <i>@Model.NumberOfSightingShots&amp;@Model.NumberOfScoringShots @@ @Html.DisplayFor(Model.Distances), @Model.Location</i>
</div>

<div id="Grid">
    @{ var position = 1;}
    @foreach (var teamRegisterCard in Model.TeamRegisterCards.OrderByDescending(r => r.SortOrder))
    {
        <div class="mix" id="TeamRegisterCardId-@teamRegisterCard.Id" data-sortorder="@(teamRegisterCard.SortOrder)">
            <div class="register-card-container">

                @* TODO: On grid sort, position value should fade out, update to new number and fade in? *@
                <div class="position-wrapper-outer">
                    <div class="position-wrapper-inner">
                        <div class="position">@position</div>
                    </div>
                </div>

                <div class="register-card-detail">
                    <div class="clearfix">
                        <h4 class="header">

                            @teamRegisterCard.TeamName

                        </h4>
                    </div>

                    @* PARTIAL *@

                    @Html.Partial("_TeamRegisterCardTable", teamRegisterCard)

                </div>
                <div class="team-register-card-controls">
                    <div>
                        @Html.ActionLink("Add Competitor", "AddCompetitor", "TeamRegisterCards", new { teamRegistercardId = teamRegisterCard.Id }, new { @class = "btn" })
                        @Html.ActionLink("Edit", "Edit", "TeamRegisterCards", new { id = teamRegisterCard.Id }, new { @class = "btn" })
                        @Html.ActionLink("Delete", "Delete", null, new { @class = "btn" })
                    </div>
                </div>

            </div>
        </div>

        position += 1;
    }

</div>

@section scripts
{
    <script src="~/Scripts/jquery.mixitup.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/RegisterKeeper-DesktopViewLiveScores.js"></script>
}
