@model RegisterKeeper.Web.Models.TeamCompetition

@{
    ViewBag.Title = Model.Name;
}


<h1>@Html.DisplayFor(teamCompetition => teamCompetition.Name)</h1>
<p>
    @(Model.StartDateTime.ToString("dddd, d MMMM yyyy, h.mmtt"))<br />
    <i>@Model.NumberOfSightingShots&amp;@Model.NumberOfScoringShots @@ @Html.DisplayFor(Model.Distances), @Model.Location</i>
</p>


<ol data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search teams..">
    @foreach (var registerCard in Model.TeamRegisterCards)
    {
        <li>
            @Html.ActionLink(registerCard.TeamName, "Details", "TeamRegisterCards", new { id = registerCard.Id }, null)
        </li>
    }
</ol>

@Html.ActionLink("Add Register Card", "Create", "TeamRegisterCards", new { teamCompetitionId = Model.Id },
    new { data_role = "button", data_inline = "true", data_icon = "plus" })