@model RegisterKeeper.Web.Models.TeamCompetition

@{
    ViewBag.Title = "Edit Team Competition";
}

@using (Html.BeginForm("Edit", "TeamCompetitions", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>@ViewBag.Title</legend>

        @Html.EditorForModel()

        <div class="form-actions">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn" })
        </div>

    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}