@model RegisterKeeper.Web.Models.TeamRegisterCard

@{
    ViewBag.Title = "Edit";
}

<style type="text/css">
    .fieldset-sublegend
    {
        border-top: 1px solid #e5e5e5;
        line-height: 40px;
        font-weight: normal;
    }
</style>

@using (Html.BeginForm("Edit", "TeamRegisterCards", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Team Register Card</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.TeamCompetitionId)

        @Html.Partial("_CreateEditTeamRegisterCardFields")

        <h4 class="fieldset-sublegend">Shooters</h4>
        
        @Html.EditorFor(teamRegisterCard => teamRegisterCard.Firers)

        @*@{ var i = 0; }
        @foreach (var RegisterCard in Model.RegisterCards)
        {
            ViewBag.FormFieldsPrefix = "RegisterCards[" + i + "].";
            i += 1;

            @Html.Hidden((string)ViewBag.FormFieldsPrefix + "Id", RegisterCard.Id)
            @Html.Hidden((string)ViewBag.FormFieldsPrefix + "TeamRegisterCardId", Model.Id)

            @Html.Partial("_CreateEditRegisterCardFields", RegisterCard)
            <hr />
        }*@

        <div class="form-actions">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel", "Details", "TeamCompetitions", new { id = Model.TeamCompetitionId }, new { @class = "btn" })
        </div>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
