@{
    ViewBag.Title = "About";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@

<h2>@ViewBag.Title</h2>

<section>
    <h3>Introduction</h3>
    <p>
        RegisterKeeper.com aims to provide both an archive and a live score reporting function for all conventional Target Rifle shooting competitions.  
        The web application is split between a desktop interface and a mobile interface.
        Register keepers, scorers or other spectators can use the mobile interface to key in scores for a competitor as the shoot is happening.  
        The scores are saved in the system and broadcast to the desktop users live (without browser refresh).
    </p>
</section>

<section>
    <h3>Current functionality</h3>
    <p>The existing functionality is demonstrated in <a href="http://www.youtube.com/watch?v=9TCOlGI1e8c" target="_blank">this five minute screencast</a>.</p>
</section>

<section id="CurrentDataset">
    <h3>Current dataset</h3>
    <p>
        The site is currently using a (partially realistic) dummy dataset for testing purposes.  
        The database is periodically reset so please be encouraged to add, edit, and delete competitions and register cards as much as you like in order to test the system.
    </p>
</section>

<section>
    <h3>In-scope / under development functionality</h3>

</section>

<section>
    <h3>Bugs</h3>

</section>

<section>
    <h3>Login system</h3>

</section>

<section>
    <h3>Possible future enhancements</h3>

    <ul>
        <li>Email notifications for new/starting competitions
        </li>
    </ul>

</section>
