@{
    ViewBag.Title = "About";
}

@*<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@

<h2>@ViewBag.Title</h2>

<section>
    <h3>Introduction</h3>
    <p>
        RegisterKeeper.com aims to provide both an archive and a live score reporting function for all conventional Target Rifle shooting competitions.
    </p>
</section>

<section>
    <h3>Current dataset</h3>

</section>

