@using RegisterKeeper.Web.Models
@using RegisterKeeper.Web;
@model RegisterKeeper.Web.ViewModels.Home.IndexViewModel

@{
    ViewBag.Title = "Home";
}

<style type="text/css">
    
</style>


<div class="jumbotron">
    <h1>RegisterKeeper.com</h1>
    <p>Live and historical scores for individual and team target rifle shooting competitions.</p>
</div>

@if (Model.LiveCompetitions.Count > 0)
{
    <div class="row">
        <div class="span12">
            <p>Live competitions:</p>
        </div>
        @foreach (var competition in Model.LiveCompetitions)
        {
@*var competitionAction = "#";

            if (competition is IndividualCompetition)
            {
                competitionAction = "/IndividualCompetition/Details/" + competition.Id;
            }
            else if (competition is TeamCompetition)
            {
                competitionAction = "/TeamCompetitions/Details/" + competition.Id;
            }*@

            <div class="span6">
                @*<a href="@competitionAction" class="rounded-corners">
                    <h4>@competition.Name</h4>
                    <i>@competition.Location</i>
                </a>*@

                @Html.Partial("_CompetitionPanel", competition)
            </div>
        }
    </div>
}

<div class="row">
    <div class="span12">
        <hr />
    </div>
</div>

<div class="row">
    <div class="column-divider"></div>
    <div class="span8">
        <p>Completed competitions:</p>

        @foreach (var competition in Model.CompletedCompetitions)
        {
            @Html.Partial("_CompetitionPanel", competition)
        }

    </div>
    <div class="span4">
        <p>Upcoming competitions:</p>
        @foreach (var competition in Model.UpcomingCompetitions)
        {
            <a href="#" class="rounded-corners">
                <h4>@competition.Name</h4>
                @(competition.StartDateTime.ToString("dddd, d MMMM yyyy, h.mmtt"))<br />
                <i>@competition.Location</i>
            </a>
        }
    </div>
</div>
