@model RegisterKeeper.Web.Models.IndividualCompetition

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<p>Are you sure you want to delete this competition and all associated register cards?</p>

@*<fieldset>
    <legend>IndividualCompetition</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDateTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDateTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberOfSightingShots)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfSightingShots)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NumberOfScoringShots)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NumberOfScoringShots)
    </div>
</fieldset>*@

@Html.Partial("_CompetitionPanel", Model)

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" class="btn btn-danger" />
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
    </p>
}
