@using RegisterKeeper.Web.ViewModels
@model RegisterKeeper.Web.Models.IndividualCompetition

@{
    ViewBag.Title = Model.Name;
    ViewBag.BackActionLink = new ActionLinkParameters { ControllerName = "Home", ActionName = "Index" };
}

<h1>@Html.DisplayFor(model => model.Name)</h1>
<p>@(Model.StartDateTime.ToString("dddd, d MMMM yyyy, h.mmtt"))<br />
    <i>@Model.NumberOfSightingShots&amp;@Model.NumberOfScoringShots @@ @Html.DisplayFor(Model.Distances), @Model.Location</i>
</p>

<ol data-role="listview" data-inset="true" data-filter="true" data-filter-placeholder="Search competitors..">
    @foreach (var registerCard in Model.RegisterCards)
    {
        <li>
            <a href="@Url.Action("Details", "RegisterCards", new { id = registerCard.Id })">
                @registerCard.CompetitorName
                <span class="ui-li-count">@registerCard.TotalScore.ToString()</span>
            </a>
            @*@Html.ActionLink(, "Details", "RegisterCards", 
                , null)*@
        </li>
    }
</ol>

@Html.ActionLink("Add Register Card", "Create", "RegisterCards", new { individualCompetitionId = Model.Id },
new { data_role = "button", data_inline = "true", data_icon = "plus" })
