@model RegisterKeeper.Web.Models.IndividualCompetition

@{
    ViewBag.Title = Model.Name;
}

<div class="clearfix">
    @if (Request.IsAuthenticated)
    {
        <div class="page-controls">
            @Html.ActionLink("Add Register Card", "Create", "RegisterCards", new { individualCompetitionId = Model.Id }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit Competition", "Edit", new { Model.Id }, new { @class = "btn" })
            @Html.ActionLink("Delete Competition", "Delete", new { Model.Id }, new { @class = "btn btn-danger"})
        </div>
    }

    <h2>@Html.DisplayFor(model => model.Name)</h2>
    @(Model.StartDateTime.ToString("dddd, d MMMM yyyy, h.mmtt"))<br />
    <i>@Model.NumberOfSightingShots&amp;@Model.NumberOfScoringShots @@ @Html.DisplayFor(Model.Distances), @Model.Location</i>
</div>

<div id="Grid">
    @{ ViewBag.Position = 1;}
    @foreach (var registerCard in Model.RegisterCards.OrderByDescending(r => r.SortOrder))
    {
        @Html.Partial("_RegisterCard", registerCard)

        ViewBag.Position += 1;
    }

</div>

@section scripts
{
    <script src="~/Scripts/jquery.mixitup.js"></script>
    <script src="~/Scripts/jquery.signalR-1.1.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/RegisterKeeper-DesktopViewLiveScores.js"></script>
    <script src="~/Scripts/RegisterKeeper-DesktopView-IndividualCompetitions.js"></script>
}
